<footer class="footer">
    <div class="container">
        <div class="row">

            <ul class="social-icons">
                <li><a class="facebook" href="https://www.facebook.com/radogostpl" target="_blank"><i class="fa fa-facebook"></i></a></li>
                <li><a class="youtube" href="https://www.youtube.com/user/RadogostOfficial/" target="_blank"><i class="fa fa-youtube"></i></a></li>
                <li><a class="spotify" href="https://open.spotify.com/artist/57erhmPbxC5aAY0i9bGgEa" target="_blank"><i class="fa fa-spotify"></i></a></li>

            </ul>
        </div>

    </div>
</footer>
