<nav class="navbar navbar-expand-sm fixed-top bg-color navbar-dark" id="navv">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainmenu" aria-controls="mainmenu" aria-expanded="false" aria-label="Navigation Button">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" id="mainmenu">
        <ul class="navbar-nav mx-auto ">
            <li class="nav-item "><a class="nav-link" routerLink="home">Home</a></li>
            <li class="nav-item "><a class="nav-link" routerLink="Koncerty">Koncerty</a></li>
            <li class="nav-item "><a class="nav-link" routerLink="dyskografia">Dyskografia</a></li>
            <li class="nav-item "><a class="nav-link" routerLink="Kontakt">Kontakt</a></li>

        </ul>
    </div>
</nav>
