<div class="info">
    <p>
        Grupa powstała w 2006 roku i gra energetyczną muzykę metalową z elementami folkowymi, mocno zakorzenioną w tradycji słowiańskiej. Wizytówką zespołu są pełne ekspresji koncerty oraz melodyjne, dynamiczne utwory, w których mocne, gitarowe riffy i agresywne
        bębny zestawiono z dźwiękiem skrzypiec oraz innych tradycyjnych instrumentów. We wczesnych tekstach Radogost nawiązuje do legend, mitów, podań i wierzeń słowiańskich, kultywując tradycje ludów zamieszkujących tereny między innymi dawnej Polski,
        Czech i Słowacji. Najnowsze produkcje skręcają w mroczny, dekadencki i surrealistyczny klimat. W części tekstów można odnaleźć Młodopolskiego mistrze upadku - Tadeusza Micińskiego.<br>

    </p>
</div>
